/* Extra Bootstrap stuff */
.text-uppercase {
  text-transform: uppercase;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height,visibility;
    -o-transition-property: height,visibility;
    transition-property: height,visibility
}

select {
  padding: 7px 4px;
}

.img-upload, .steprepeat-tools .form-inline .form-group {
  margin: 0.5em;
}
.img-upload #upload_form {
  margin-bottom: 0.5em;
}
.user-images .img-thumb {
  display: inline-block;
  max-width: 100px;
  margin-right: 1em;
  vertical-align: top;
}

.user-images label.radio-inline {
      padding-left: 0;
      overflow: hidden;
      margin-bottom: 0;
}
.user-images .radio-inline+.radio-inline{
    margin-left: 0;
}
.user-images input[type=radio] {
    display:none;
}
.user-images input[type=radio] + img {
    border: solid 1px #FAF8EA;
    border-radius: 2px;
    width: 100px;
}
.user-images input[type=radio]:checked + img {
    border-color: #838383;
}

button.heading {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #333;
  font-size: 14px;
  text-transform: uppercase;
}
button.heading:hover,
button.heading:focus {
  color: #333;
}

button.text_button {
  background: transparent;
  padding: 0;
  border: none;
}
button.text_button:hover,
button.text_button:focus {
  color: inherit;
  text-decoration: underline;
}

@media screen and (min-width: 980px) {
  .user-images .img-thumb {
    max-width: 150px;
  }
  .user-images input[type=radio] + img {
      width: 150px;
  }
}
