body {
  overflow: hidden;
  /* background-color: rgb(150, 150, 150, 1); */
}

#menu {
  border:solid 1px;
}

#buttons {
  position: absolute;
  /* left: 10px; */
}
button {
  display: block;
}

.advanced {
  align-content: center;
  background-color: rgb(50, 50, 50, 0.70);
  color: lightgray;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px;
  padding: 5px;
  z-index: 1049;
  right: 0;
  width: 100%;
}

a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 13px;
}

#repeat-creator canvas {
  align-content: center;
  background-color: rgba(255, 255, 255, 1);
  align-self: auto;
  z-index: 0;
  width: 99%;
  scale: 1;
}

div.user-images {
  background-color: transparent;
  z-index: 0;
}

#repeat-creator-toolbar {
  background-color: rgba(255, 255, 255, 0.9);
}

.uploaded-user-images {
  /* background-color: rgba(0, 0, 0, 0.5); */
  width: 75%;
  z-index: 0;
}

/* .rangeslider--disabled {
  visibility: hidden;
} */

#rep_designXY {
  float: right;
  background-color: rgb(255, 255, 255, 0.85);
  color: black;
  visibility: visible;
}

#designInfo {
  float: right;
  background-color: rgb(255, 255, 255, 0.85);
  color: black;
  visibility: visible;
}

#designName {
  float: right;
  background-color: rgb(255, 255, 255, 0.85);
  left: 0;
  visibility: hidden;
}

span#thumbHolder {
  position: fixed;
  align-content: center;
}

img#thumbNail {
  position: fixed;
  align-content: center;
}

.container-fluid {
  align-content: center;
}

.container {
  z-index: inherit;
}

#canvas {
  align-content: center;
  /* width: fit-content; */
  margin: 0 auto;
  position: absolute;
  height: 90%;
  width: 99%;
  left: 0;
  top: 26px;
  z-index: 0;
  pointer-events: none;
}

#vSlider {
  visibility: visible;
}

#hSlider {
  visibility: visible;
}

#repXY {
  float: left;
}

#rep_designXY {
  float: left;
  top: 100;
  background-color: rgb(255, 255, 255, 0.85);
  color: black;
  max-width: 150px;
  max-height: 30px;
  visibility: hidden;
}

#designName {
  float: left;
  left: 0px;
  visibility: hidden;
}

span#thumbHolder {
  position: fixed;
  align-content: center;
}

img#thumbNail {
  position: fixed;
  align-content: center;
}

#dropXY {
  float: right;
}

#imageSelector {
  float: right;
}

#resolution {
  float: right;
}

input#imageRes {
  width: 20;
  max-width: 50;
}

#fileinput {
  position: inherit;
  align-self: auto;
}

img#crop {
  visibility: hidden;
}

#resolution {
  float: right;
}

#imageRes {
  float: right;
}

header {
  color: white;
}

div.center {
  margin: 0 auto;
  width: 80em;
}

/* * {
  box-sizing: content-box;
} */
/* Extra Bootstrap stuff */
.text-uppercase {
  text-transform: uppercase;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height,visibility;
    -o-transition-property: height,visibility;
    transition-property: height,visibility
}

select {
  padding: 7px 4px;
}

.img-upload, .steprepeat-tools .form-inline .form-group {
  margin: 0.5em;
}
.img-upload #upload_form {
  margin-bottom: 0.5em;
}
.user-images .img-thumb {
  display: inline-block;
  max-width: 100px;
  margin-right: 1em;
  vertical-align: top;
}

.user-images label.radio-inline {
      padding-left: 0;
      overflow: hidden;
      margin-bottom: 0;
}
.user-images .radio-inline+.radio-inline{
    margin-left: 0;
}
.user-images input[type=radio] {
    display:none;
}
.user-images input[type=radio] + img {
    border: solid 1px #FAF8EA;
    border-radius: 2px;
    width: 100px;
}
.user-images input[type=radio]:checked + img {
    border-color: #838383;
}

button.heading {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #333;
  font-size: 14px;
  text-transform: uppercase;
}
button.heading:hover,
button.heading:focus {
  color: #333;
}

button.text_button {
  background: transparent;
  padding: 0;
  border: none;
}
button.text_button:hover,
button.text_button:focus {
  color: inherit;
  text-decoration: underline;
}

@media screen and (min-width: 980px) {
  .user-images .img-thumb {
    max-width: 150px;
  }
  .user-images input[type=radio] + img {
      width: 150px;
  }
}
