body {
  overflow: hidden;
  background-color: rgb(255, 255, 255, 1);
}

#menu {
  border:solid 1px;
}

#buttons {
  position: absolute;
  /* left: 10px; */
}
button {
  display: block;
}

.advanced {
  align-content: stretch;
  background-color: rgb(50, 50, 50, 0.70);
  color: lightgray;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* margin: 5px; */
  padding: 5px;
  z-index: 1049;
  right: 0;
  width: 100%;
}

a {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 300;
 font-size: 13px;
}

#repeat-creator {
  background-color: rgba(255, 255, 255, 1);
  z-index: 0;
}

#repeat-creator-toolbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.uploaded-user-images {
  background-color: rgba(0, 0, 0, 0.5);
  width: 75%;
  z-index: 0;
}

/* .rangeslider--disabled {
  visibility: hidden;
} */

#rep_designXY {
  float: right;
  background-color: rgb(255, 255, 255, 0.85);
  color: black;
  visibility: visible;
}

#designInfo {
  float: right;
  background-color: rgb(255, 255, 255, 0.85);
  color: black;
  visibility: visible;
}

#designName {
  float: right;
  background-color: rgb(255, 255, 255, 0.85);
  left: 0;
  visibility: hidden;
}

span#thumbHolder {
  position: fixed;
  align-content: center;
}

img#thumbNail {
  position: fixed;
  align-content: center;
}

.container-fluid {
  align-content: center;
}

.container {
  z-index: inherit;
}

#canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

#vSlider {
  visibility: visible;
}

#hSlider {
  visibility: visible;
}

#repXY {
  float: left;
}

#rep_designXY {
  float: left;
  top: 100;
  background-color: rgb(255, 255, 255, 0.85);
  color: black;
  max-width: 150px;
  max-height: 30px;
  visibility: hidden;
}

#designName {
  float: left;
  left: 0px;
  visibility: hidden;
}

span#thumbHolder {
  position: fixed;
  align-content: center;
}

img#thumbNail {
  position: fixed;
  align-content: center;
}

#dropXY {
  float: right;
}

#imageSelector {
  float: right;
}

#resolution {
  float: right;
}

input#imageRes {
  width: 20;
  max-width: 50;
}

#fileinput {
  position: inherit;
  align-self: auto;
}

img#crop {
  visibility: hidden;
}

#resolution {
  float: right;
}

#imageRes {
  float: right;
}

header {
  color: white;
}

div.center {
  margin: 0 auto;
  width: 80em;
}

/* * {
  box-sizing: content-box;
} */
