<!DOCTYPE html>
<html>

<head>
  {% load staticfiles %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Web2Fabric Repeat Creator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link href="{{ baseurl }}{% static 'css/index.css' %}" rel="stylesheet">
  <link href="{{ baseurl }}{% static 'css/rangeslider.css' %}" rel="stylesheet">
  <link href="{{ baseurl }}{% static 'css/repeat-creator.css' %}" rel="stylesheet">
  <link ref="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ baseurl }}{% static 'css/tooltipster.bundle.min.css' %}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="{{ baseurl }}{% static 'js/jquery.slidereveal.min.js' %}"></script>
  <script src="{{ baseurl }}{% static 'js/rangeslider.min.js' %}"></script>
  <script src="{{ baseurl }}{% static 'js/image-juggler.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.6/dist/js/tooltipster.bundle.min.js"></script>
</head>

<body>
  <div class="center">
    <div id="repeat-creator-toolbar" class="toolbar form-inline form-group inline clearfix">
      <div class="container-fluid">
        <div class="input-group">
          <button type="button" id="adv" class="btn btn-default toolbar">Advanced -> </button>
        </div>
        <div class="input-group">
          <button id="mask-colour" class="btn btn-default toolbar">Select a mask color</button>
        </div>
        <div class="input-group">
          <select name="properties[drop]" class="toolbar" data-property="offset" id="repeat-drop">
            <option value="None" data-value="1">None</option>
            <option value="Half Vertical" data-value="2" data-property="offset" data-offset="vertical">&frac12; Vertical Drop</option>
            <option value="Third Vertical" data-value="3" data-property="offset" data-offset="vertical">&frac13; Vertical Drop</option>
            <option value="Quarter Vertical" data-value="4" data-property="offset" data-offset="vertical">&frac14; Vertical Drop</option>
            <option value="Half Horizontal" data-value="2" data-property="offset" data-offset="horizontal">&frac12; Horizontal Drop</option>
            <option value="Third Horizontal" data-value="3" data-property="offset" data-offset="horizontal">&frac13; Horizontal Drop</option>
            <option value="Quarter Horizontal" data-value="4" data-property="offset" data-offset="horizontal">&frac14; Horizontal Drop</option>
          </select>
        </div>
        <div class="input-group">
          <button id="save-repeat" class="btn btn-default toolbar">Save Repeat</button>
        </div>
        <div class="input-group">
          <a id="download-repeat" href="#" class="btn btn-default toolbar" target="_blank">Download Repeat</a>
        </div>
        <div class="input-group">
          <div class="img-upload" id="img-upload-wrap">
            <form id="img-upload-form"></form>
            <script>
              var w2f_settings = w2f_settings || {}
              w2f_settings.shop_module = ["img-upload"]
              w2f_settings.auth_key = "4fa8b042b97ef831865ffbbebdaad73c"
              w2f_settings.customer = 629008644
              w2f_settings.debug = true
              w2f_settings.debug_url = "{{siteurl}}/"
              w2f_settings.debug_static = w2f_settings.debug_url + 'static/';
              (function () {
                var mn = document.createElement('script')
                mn.type = 'text/javascript'
                mn.async = true
                mn.src = 'https://w2ftest.web2fabric.com/static/js/mm.js'
                var s = document.getElementsByTagName('script')[0]
                s.parentNode.insertBefore(mn, s)
              })()
              function mm_userimages_callback(count) {
                if (count === 5) {
                  $('#save-repeat').disabled = true
                }
              }
            </script>
          </div>
        </div>
        <div class="user-images"></div>
      </div>
      <div id="repeat-creator" class="repeat-creator-container">
        <div class="repeat-adjust vertical hidden">
          <button class="decrement">-</button>
          <input id="vertical-adjust" min="50" max="100" value="100" type="range" step="1" class="rangeslider--vertical tool" />
          <button class="increment">+</button>
        </div>
        <div class="repeat-adjust horizontal hidden">
          <button class="decrement">-</button>
          <input id="horizontal-adjust" min="50" max="100" value="100" type="range" step="1" class="rangeslider--horizontal tool" />
          <button class="increment">+</button>
        </div>
      </div>
    </div>
    <span id="advanced" class="advanced">
      <div class="center">
        Press ESC to close<br>
        <span id="TL">
          <label>Mask only
            <input type="checkbox" id="TLBO" />
          </label>
          <label>Include
            <input type="checkbox" id="TLInc" checked />
          </label>
          <img id="gridTL" src="{{ baseurl }}{% static 'assets/TL.png' %}" />
        </span>
        <br>
        <span id="TC">
          <label>Mask only
            <input type="checkbox" id="TCBO" />
          </label>
          <label>Include
            <input type="checkbox" id="TCInc" checked />
          </label>
          <img id="gridTC" src="{{ baseurl }}{% static 'assets/TC.png' %}" />
        </span>
        <br>
        <span id="TR">
          <label>Mask only
            <input type="checkbox" id="TRBO" checked />
          </label>
          <label>Include
            <input type="checkbox" id="TRInc" checked />
          </label>
          <img id="gridTR" src="{{ baseurl }}{% static 'assets/TR.png' %}" />
        </span>
        <br>
        <span id="ML">
          <label>Mask only
            <input type="checkbox" id="MLBO" />
          </label>
          <label>Include
            <input type="checkbox" id="MLInc" checked />
          </label>
          <img id="gridML" src="{{ baseurl }}{% static 'assets/ML.png' %}" />
        </span>
        <br>
        <span id="MC">
          <label>Mask only
            <input type="checkbox" id="MCBO" />
          </label>
          <label>Include
            <input type="checkbox" id="MCInc" checked />
          </label>
          <img id="gridMC" src="{{ baseurl }}{% static 'assets/sectUpArrow.png' %}" />
        </span>
        <br>
        <span id="MR">
          <label>Mask only
            <input type="checkbox" id="MRBO" checked />
          </label>
          <label>Include
            <input type="checkbox" id="MRInc" checked />
          </label>
          <img id="gridMR" src="{{ baseurl }}{% static 'assets/MR.png' %}" />
        </span>
        <br>
        <span id="BL">
          <label>Mask only
            <input type="checkbox" id="BLBO" checked />
          </label>
          <label>Include
            <input type="checkbox" id="BLInc" checked />
          </label>
          <img id="gridBL" src="{{ baseurl }}{% static 'assets/BL.png' %}" />
        </span>
        <br>
        <span id="BC">
          <label>Mask only
            <input type="checkbox" id="BCBO" checked />
          </label>
          <label>Include
            <input type="checkbox" id="BCInc" checked/>
          </label>
          <img id="gridBC" src="{{ baseurl }}{% static 'assets/BC.png' %}" />
        </span>
        <br>
        <span id="BR">
          <label>Mask only
            <input type="checkbox" id="BRBO" />
          </label>
          <label>Include
            <input type="checkbox" id="BRInc" checked />
          </label>
          <img id="gridBR" src="{{ baseurl }}{% static 'assets/BR.png' %}" />
        </span>
    </span>
    </div>
    <!-- <div id="repeat-creator" class="repeat-creator-container">
      <canvas id="repeat-creator-canvas"></canvas>
    </div>
    <div id="test-canvas"></div> -->
    <script src="{{ baseurl }}{% static 'js/repeat-creator.js' %}"></script>
    <script>
      $('.advanced').slideReveal({
        trigger: $('#adv'),
        position: 'right',
        push: false,
        overlay: false,
        autoEscape: true
      })
    </script>
  </div>
</body>

</html>